nav.nav.row.middle-xs
	input#hamburger-menu.c-hamburger__input(type='checkbox')
	label.c-hamburger.c-hamburger--htx(for='hamburger-menu')
		span
	.modal
		.modal-content
			ul.navigation
				li.item
					a(href='https://github.com/biezhi') Home
				li.item
					a(href='/about') About
				li.item
					a(href='/contributors') Contributors
				li.item
					a(href='https://github.com/biezhi/gitmoji') GitHub
